@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

body{
    font-family: 'Merriweather', serif;
}

:root {
    --primary-color: #8B5CF6; 
    --grey-color: #6B7280;   
}

hr {
    margin: 2rem 0rem;
}
/** Container **/

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin:auto;
} 

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation{
    background-color:var(--primary-color);
   color:white;
   padding: 1rem;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;

}

.navigation .link{
    color: white;
    

}

.navigation .nav-pills{
    text-align:right;
}

.navigation-brand{
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link-active{
    font-weight: bold;
    font-size: 1.1rem;
}

.hero{
    padding: 2rem;
}

.hero .hero-img{
max-width: 350px;
display: block;
margin: auto;
}


.hero .hero-heading{
    color: var(--grey-color) ;
    
}

.hero .hero-heading .heading-inverted{
    color:var(--primary-color);
  
}

